body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Rubik Mono One', sans-serif;
	background: url(images/landing.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
::-moz-selection { /* Code for Firefox */
  color: #e1007c;
  background: yellow;}

  ::selection {
  color: #e1007c;
  background: yellow;
}

.logo {
	margin-bottom: 56px;
}

.bother {
	display: flex;
}

h1 {
	
	color: #FFFF33;
	animation-delay: 2;
}

.layered {
	position: relative;
}
 
.stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #e1007c;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 1px;
  right: -6px;

}

.win {
	color: #40e0d0;

}
.btn {
	border-radius: 10px 5px / 30px 18px;
}
.btn-primary {
	background-color: #FFFF33;
	border-color: #FFFF33;
	color: red;
	font-size: 1rem;
	animation-iteration-count: 2;
}

.btn-primary:hover {
	background-color: #e1007c;
	border-color: #e1007c;
	color: #FFFF33;
}
.btn-xl {
	padding: 1rem 2rem;
}

.test {
	padding: 1rem 2rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap:16px;
}

.buffer {
	height: 4rem;
}

.deep {
	margin-bottom: 3rem;
	font-size: 1.2rem;
	color:#ffffff;
	animation: hinge; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 20s; /* don't forget to set a duration! */
  animation-delay: 5s;
  display: inline-flex;
	justify-content: center;
	align-items: center;
	gap:16px;
}

.logo {
	animation: tada; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 20s; /* don't forget to set a duration! */
  animation-delay: 1s;
  animation-iteration-count: 3;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .stroke {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #e1007c;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 1px;
  right: -9px;
}
.btn-primary {
	background-color: #FFFF33;
	border-color: #FFFF33;
	color: #e1007c;
	font-size: 2rem;
}
}


